@use './partials/variables' as *;

// importo bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
//importo il fdont dopo averlo installato con npm e messo nei _variables come font principale
@import '@fontsource/roboto';



body {
  font-family: $main-font;
  background-color: $primary-color;
}
main {
  background-color: $primary-color;
  width: 100%;
  min-height: 100vh;
}

.debug {
  border: 1px solid black;
}
